blinker==1.9.0
click==8.1.7
colorama==0.4.6
factory_boy==3.3.1
Faker==33.1.0
flake8==7.1.1
Flask==3.1.0
Flask-SQLAlchemy==3.1.1
iniconfig==2.0.0
isort==5.13.2
itsdangerous==2.2.0
Jinja2==3.1.4
MarkupSafe==3.0.2
mccabe==0.7.0
mypy==1.13.0
mypy-extensions==1.0.0
packaging==24.2
pluggy==1.5.0
pycodestyle==2.12.1
pyflakes==3.2.0
pytest==8.3.4
python-dateutil==2.9.0.post0
six==1.17.0
SQLAlchemy==2.0.36
types-click==7.1.8
types-factory-boy==0.4.1
types-Flask==1.1.6
types-Jinja2==2.11.9
types-MarkupSafe==1.1.10
types-SQLAlchemy==1.4.53.38
types-Werkzeug==1.0.9
typing_extensions==4.12.2
Werkzeug==3.1.3
